<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a
    (click)="handleNavigate()"
    class="pointer d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Train App</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item pointer">
      <a class="nav-link" (click)="handleNavigate()" aria-current="page"
        >Home</a
      >
    </li>
    <li class="nav-item pointer" *ngIf="this.userService.isLoggedIn()">
      <a class="nav-link" (click)="handleNavigate('/mybookings')"
        >My bookings</a
      >
    </li>
    <!-- <li class="nav-item pointer"><a class="nav-link">Pricing</a></li> -->
    <li *ngIf="!this.userService.isLoggedIn()" class="nav-item pointer">
      <a
        class="nav-link"
        (click)="openLoginModal()"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        >Login</a
      >
    </li>
    <li *ngIf="!this.userService.isLoggedIn()" class="nav-item pointer">
      <a
        class="nav-link"
        (click)="openRegisterModal()"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
        >Register</a
      >
    </li>
    <li *ngIf="this.userService.isLoggedIn()" class="nav-item pointer">
      <a class="nav-link" (click)="handleLogout()">Logout</a>
    </li>
  </ul>
</header>
